body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 69, 221);
}
h1
{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
span::before
{
    content: '';
    animation: word-swith 3s infinite;
}

@keyframes word-swith 
{
    0% {content: '💻';}

    25% {content:'👨🏼‍💻'}

    50%{content: '🍕';}

    75%{content: '🚀';}

    100%{content: '🎮';}
}