body 
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8fb9e2;
}

.pendulo 
{
	display: flex;
    border-top: 30px solid rgb(12, 25, 202);
    border-radius: 10px ;
}

.pendulo span 
{
    display: block;
    
	width: 3px;
	height: 500px;
	background-color:rgb(12, 25, 202);
	margin: 0 29px;
	position: relative;
	transform-origin: top;
}

.pendulo span:before 
{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color:rgb(12, 25, 202);
	transform: translateX(-50%);
}

.pendulo span:first-child 
{
	animation: left-arm 2s ease-in infinite ;
}

.pendulo span:last-child 
{
	animation: right-arm 2s ease-in infinite 1s;
}

@keyframes left-arm 
{
	0% { transform: rotate(0deg); }
	25% { transform: rotate(60deg); }
	50% { transform: rotate(0deg); }
	100% { transform: rotate(0deg); }
}

@keyframes right-arm 
{
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-60deg); }
	50% { transform: rotate(0deg); }
	100% { transform: rotate(0deg); }
}