body {
    padding: 0;
    margin:  0;
}


div#cenario {
    background-color: #000;
    
}

div#foguete {
    
    position: relative;
    height: 800px;

    animation-name: foguete;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;   
    /* animation-fill-mode: forwards; */

    left: -400px;
    top: 100px;
}

@keyframes foguete {
    0%   { top: 60px;  transform: rotate(0deg);    left: -400px}
    5%   { top: 40px;  transform: rotate(0deg);    left: -400px}
    10%  { top: 20px;  transform: rotate(0deg);    left: -400px}
    15%  { top: 0;     transform: rotate(0deg);    left: -400px}
    20%  { top: -30px; transform: rotate(0deg);    left: -400px}
    25%  { top: -70px; transform: rotate(0deg);    left: -400px}
    35%  { top: -130px; transform: rotate(0deg);   left: -400px}
    45%  { top: -280px; transform: rotate(0deg);   left: -400px}
    50%  { top: -580px; transform: rotate(80deg);   left: -400px}
    60%  { top: -580px; transform: rotate(130deg);  left: 100px}
    75%  { top: -480px; transform: rotate(180deg); left: 100px}
    85%  { top: -380px; transform: rotate(180deg); left: 100px}
    95%  { top: -280px; transform: rotate(180deg); left: 100px} 
    100% { top: -130px;  transform: rotate(180deg); left: 100px}
}

#foguete div.ponta {
    position: absolute;
    width: 3px;

    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid #ff7570;

    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;


    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;

    z-index: 2;
}

#foguete div.corpo {
    position: absolute;

    height: 200px;
    width: 67px;

    background-color: #faf7f7;

    left: 50%;
    top: 58px;
    transform: translateX(-50%);

    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    z-index: 1;
}

#foguete div.asas::before {
    content: '';
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 50px solid transparent;
    border-top: 40px solid #ff7570;
    left: 582px;
    top: 238px;
    transform: rotate(151.5deg) scaleX(2.5);
}

#foguete div.asas::after {
    content: '';
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid #ff7570;
    left: 764px;
    top: 238px;
    transform: rotate(28.5deg) scalex(2.5);
}

#foguete  div.turbina {
    position: absolute;

    width: 55px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #faf7f7;

    z-index: 2;

    left: 50%;
    top: 240px;
    transform: translateX(-50%);
}

#foguete > div.turbina::after {
    content: '';
    position: absolute;
    top: 50px;
    width: 97%;
    border: 1px solid #fff;
    box-shadow: 0px 50px 56px 49px rgba(255, 126, 5, 0.993);

    animation-name: fogo;
    animation-duration: 3s;
    animation-iteration-count: 1;   
    animation-fill-mode: forwards;         
}

@keyframes fogo {
    from { box-shadow: 0px 17px 56px 11px rgba(255, 126, 5, 0.993);  }
    to   { box-shadow: 0px 48px 72px 59px rgba(255, 126, 5, 0.993); }
}